{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="breadcumb-wrapper" data-bg-src="assets/img/hero/vehicule.png" data-overlay="title" data-opacity="7">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="breadcumb-content">
						<h1 class="breadcumb-title">LOGIN</h1>
						<ul class="breadcumb-menu">
							<li>
								<a href="{{ path('app_home') }}">ACCUEIL</a>
							</li>
							<li class="active">LOGIN</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<h1>Connexion</h1>

	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<form action="{{ path('app_login') }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		<label for="email" class="icon-btn bg-none searchBoxToggler">Email :</label>
		<input type="text" id="email" name="_username" value="{{ last_username }}" required autofocus>

		<label for="password" class="icon-btn bg-none searchBoxToggler">Mot de passe :</label>
		<input type="password" id="password" name="_password" required>

		<button type="submit">Se connecter</button>
	</form>

{% endblock %}
