{% extends 'base.html.twig' %}

{% block title %}AMD37{% endblock %}

{% block body %}
<div class="as-hero-wrapper hero-1" id="hero">
    <div class="hero-slider-1 number-dots as-carousel" id="heroSlide1" data-fade="true" data-slide-show="1" data-md-slide-show="1" data-dots="true" data-xl-dots="true" data-ml-dots="true" data-lg-dots="true">
        <div class="as-hero-slide">
            <div class="as-hero-bg" data-bg-src="assets/img/hero/vehicule.png"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="hero-style1">
                            <span class="hero-subtitle" data-ani="slideinleft" data-ani-delay="0.1s">
                                ATELIER DE MECANIQUE A DOMICILE
                            </span>
                            <h1 class="hero-title text-white" data-ani="slideinleft" data-ani-delay="0.2s">Là ou l’expertise rencontre les moteurs</h1>
                            <div class="btn-group" data-ani="slideinleft" data-ani-delay="0.4s">
                                <a href="{{ path('app_about') }}" class="as-btn style2">DETAILS</a>
                                <a href="#services" class="as-btn style3">SERVICES</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>

<section class="about-area space-top custom-space-bottom" data-bg-src="assets/img/about/about_bg.png">
    <div class="container-fluid">
        <div class="about-wrap" >
            <img class="thumb-bg" src="assets/img/about/about_thumb_bg.png" alt="img">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-thumb-wrap">
                        <div class="thumb-1"><img src="assets/img/pixabay/car_mecanique_3.jpg" alt="img"></div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="title-area mb-0">
                        <h3 class="sub-title">A PROPOS</h3>
                        <h2 class="sec-title">Atelier de Mécanique à Domicile</h2>
                        <p class="sec-text">Depuis 2015, AMD37 propose un service de mécanique à domicile pour particuliers et professionnels, en Indre-et-Loire. De l’entretien courant aux interventions sur tout type de véhicule, poids lourds, engins de chantier et locomotives. Profitez d’un savoir-faire complet, sans vous déplacer</p>
                        <p class="sec-text">Réactivité, expertise, mobilité : découvrez notre histoire.</p>
                        <div class="about-wrap-group">
                            <div class="about-card">
                                <div class="icon">
                                    <img src="assets/img/about/about-icon-1.svg" alt="img">
                                </div>
                                <h5 class="card-title">Équipé de tous les outils <br> les plus recents</h5>
                            </div>
                            <div class="about-card">
                                <div class="icon">
                                    <img src="assets/img/about/about-icon-2.svg" alt="img">
                                </div>
                                <h5 class="card-title">Disponible 6 jours <br> sur 7</h5>
                            </div>
                        </div>
                        <div class="btn-group">
                            <a class="as-btn" href="{{ path('app_about') }}">PLUS DE DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="counter-area p-lg-0 space">
    <div class="container">
        <div class="row gy-25 justify-content-center">
            <div class="col-sm-6 col-lg-3">
                <div class="counter-card">
                    <div class="counter-card_icon" data-bg-src="assets/img/counter/icon_bg.svg">
                        <img src="assets/img/counter/counter_icon_1.svg" alt="img">
                    </div>
                    <h2 class="counter-card_number"><span class="counter-number">3000</span>+</h2>
                    <p class="counter-card_text">Véhicule reparé</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter-card">
                    <div class="counter-card_icon" data-bg-src="assets/img/counter/icon_bg.svg">
                        <img src="assets/img/counter/counter_icon_2.svg" alt="img">
                    </div>
                    <h2 class="counter-card_number"><span class="counter-number">20</span>+</h2>
                    <p class="counter-card_text">Partenaires & Collaborateurs</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter-card">
                    <div class="counter-card_icon" data-bg-src="assets/img/counter/icon_bg.svg">
                        <img src="assets/img/counter/counter_icon_3.svg" alt="img">
                    </div>
                    <h2 class="counter-card_number"><span class="counter-number">3000</span>+</h2>
                    <p class="counter-card_text">Clients satisfaits</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="counter-card">
                    <div class="counter-card_icon" data-bg-src="assets/img/counter/icon_bg.svg">
                        <img src="assets/img/counter/counter_icon_4.svg" alt="img">
                    </div>
                    <h2 class="counter-card_number"><span class="counter-number">5</span>+</h2>
                    <p class="counter-card_text">Prix Gagnés</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wcu-area">
    <div class="as-container2 position-relative bg-title">
        <div class="anime-img-1 shape-mockup jump d-none d-lg-block" data-bottom="0%" data-right="0"><img src="assets/img/wcu/wcu_shape.png" alt="img"></div>    
        <div class="row gx-0">
            <div class="col-xl-6 col-lg-5">
                <div class="wcu-thumb" data-bg-src="assets/img/wcu/frein.jpg">
                </div>
            </div>
            <div class="col-xl-6 col-lg-7">
                <div class="wcu-box">
                    <div class="title-area">
                        <span class="sub-title">Pourquoi nous choisir</span>
                        <h2 class="sec-title text-white">Raison de choisir les services d'AMD37</h2>
                    </div>
                    <div class="info-media-wrap">
                        <div class="info-media">
                            <div class="info-media_icon">
                                <img class="icon-bg" src="assets/img/wcu/wcu_icon_bg_ylw.svg" alt="img">
                                <img class="icon-hover" src="assets/img/wcu/wcu_icon_bg_red.svg" alt="img">
                                1
                            </div>
                            <div class="media-body">
                                <h3 class="h4 info-media_title">Équipements Récents</h3>
                                <p class="info-media_text">Notre véhicule d’intervention est équipé de matériel moderne et performant, capable de répondre à toutes les situations, du simple entretien aux interventions techniques complexes. </p>
                            </div>
                        </div>
                        <div class="info-media">
                            <div class="info-media_icon">
                                <img class="icon-bg" src="assets/img/wcu/wcu_icon_bg_ylw.svg" alt="img">
                                <img class="icon-hover" src="assets/img/wcu/wcu_icon_bg_red.svg" alt="img">
                                2
                            </div>
                            <div class="media-body">
                                <h3 class="h4 info-media_title">Expert En Mécanique</h3>
                                <p class="info-media_text">Fort de plusieurs années d’expérience sur tous types de véhicules voitures, utilitaires, poids lourds et engins de chantier . AMD37 vous garantit un diagnostic précis et des réparations durables.</p>
                            </div>
                        </div>
                        <div class="info-media mb-0">
                            <div class="info-media_icon">
                                <img class="icon-bg" src="assets/img/wcu/wcu_icon_bg_ylw.svg" alt="img">
                                <img class="icon-hover" src="assets/img/wcu/wcu_icon_bg_red.svg" alt="img">
                                3
                            </div>
                            <div class="media-body">
                                <h3 class="h4 info-media_title">Mobilité</h3>
                                <p class="info-media_text">Fini les déplacements en garage ! Nous venons directement chez vous ou sur site, dans toute l’Indre-et-Loire, pour une intervention rapide, flexible et adaptée à vos contraintes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0 mt-5" id="services">
    <div class="cta-wrap space-top" data-bg-src="assets/img/cta/cta_bg.png">
        <div class="row justify-content-center">
            <div class="col-xxl-6 col-xl-8 col-lg-8 text-center">
                <div class="title-area mb-0">
                    <h2 class="sec-title text-white">Vous Cherchez Un Endroit De Confiance Pour Faire Rouler Vos Véhicules</h2>
                    <div class="btn-group justify-content-center">
                        <a class="as-btn style2" href="{{ path('app_contact_index') }}">Contactez</a>
                        <a class="as-btn style3" href="tel:0699483005"><i class="fa-solid fa-phone me-1"></i> 0699483005</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" >
    <div class="service-slider row as-carousel g-0" data-slide-show="3" data-lg-slide-show="3" data-md-slide-show="2" data-sm-slide-show="1" data-xs-slide-show="1" data-dots="true" data-xl-dots="true" data-ml-dots="true" data-lg-dots="true" >
        {% for service in services %}
            <div class="col-lg-4 col-md-6">
                <div class="service-card">
                    <h3 class="service-card_title">
                        <a>{{ service.title }}</a>
                    </h3>
                    <p class="service-card_text">{{ service.description|u.truncate(120, '...') }}</p>
                    <div class="service-card_img">
                        <div class="service-card_icon">
                            <img class="svg-img" src="{{ asset('assets/img/icon/' ~ service.iconFilename) }}" alt="icon">
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>Aucun service trouvé.</p>
        {% endfor %}
    </div>
</div>

<section class="team-area space" data-bg-src="assets/img/team/team_bg_1.png">
    <div class="container">
        <div class="title-area text-center">
            <h3 class="sub-title"><span class="double-line"></span>Technicien Expert</h3>
        </div>
        <div class="row as-carousel team-slider">
            <div class="col-lg-4 col-sm-6 d-flex justify-content-center align-items-center">
                <div class="team-card">
                    
                    <div class="as-social">
                        <a class="icon-bg-custom" target="_blank" href="https://facebook.com/"><i class="fa-brands fa-facebook-f"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
                        <a class="icon-bg-custom" target="_blank" href="https://dribbble.com/"><i class="fa-brands fa-dribbble"></i></a>
                    </div>
                    <div class="team-img">
                        <img src="assets/img/team/pp.jpg" alt="Team">
                    </div>
                    <div class="team-content">
                        <h3 class="team-title h4"><a href="{{ path('app_about') }}">Mestivier Sylvain</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="portfolio-area space-top" data-overlay="title" data-opacity="9" data-bg-src="{{ asset('assets/img/portfolio/outils.jpg') }}">
    <div class="portfolio-anime-img shape-mockup d-none d-xl-block" data-top="0%" data-left="0">
        <img class="svg-img" src="{{ asset('assets/img/portfolio/portfolio_bg_shape.svg') }}" alt="img">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="title-area text-center">
                    <span class="sub-title"><span class="double-line"></span>MES PROJETS</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row portfolio-slider-1 as-carousel"
             data-slide-show="5" data-ml-slide-show="4" data-lg-slide-show="4"
             data-md-slide-show="3" data-sm-slide-show="1" data-xs-slide-show="1"
             data-dots="false" data-infinite="true">
            {% for project in projects %}
                <div class="col-lg-3">
                    <div class="portfolio-box">
                        <img class="portfolio-box_img"
                             src="{{ asset('assets/img/projects/' ~ project.picture) }}"
                             alt="{{ project.title }}">
                        <div class="portfolio-box_details">
                            <h3 class="portfolio-box_title h4">
                                <a href="{{ path('app_project_show', { slug: project.slug }) }}">
                                    {{ project.title }}
                                </a>
                            </h3>
                            {% if project.projectCategory %}
                                <span class="portfolio-box_subtitle">{{ project.projectCategory.name }}</span>
                            {% endif %}
                            <a href="{{ path('app_project_show', { slug: project.slug }) }}" class="icon">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-12 text-center text-white">
                    <p>Aucun projet à afficher pour le moment.</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="testiomonial-area space">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 order-lg-2 align-self-center">
                <div class="testi-thumb text-center" data-bg-src="{{ asset('assets/img/testimonial/testi_thumb_bg.png') }}">
                    <img src="{{ asset('assets/img/pixabay/smile.jpg') }}" alt="img">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="title-area mb-0 text-center text-lg-start">
                    <span class="sub-title"><span class="double-line d-lg-none"></span>Avis</span>
                    <h2 class="sec-title">Ce Que Disent Nos Clients À Propos Des Services</h2>
                </div>

                <div class="testimonial-slider as-carousel" data-slide-show="1" data-fade="true" id="testimonial-indicator">
                    {% for testimonial in testimonials %}
                        <div class="testi-box">
                            <p class="testi_content">{{ testimonial.content }}</p>
                            <div class="testi-box_profile">
                                <div class="icon">
                                    <img src="{{ asset('assets/img/icon/quote.svg') }}" alt="img">
                                </div>
                                <div class="details">
                                    <h4 class="testi-box_name">{{ testimonial.author }}</h4>
                                    <span class="testi-box_desig">Client</span>
                                </div>

                            </div>
                        </div>
                    {% else %}
                        <p class="text-center">Aucun témoignage trouvé.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

	<div class="client-sec1 space-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-area text-center">
						<h2 class="client-title h4 mb-0">
							<span class="double-line"></span>
							NOS MARQUES & PARTENAIRES
					</div>
				</div>
			</div>
			<div class="client-box-border">
				<div class="row as-carousel" id="brandSlide1" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="false">
					<div class="col-auto client-box">
						<img src="assets/img/client/bv2ii.png" alt="Client Logo">
					</div>
					<div class="col-auto client-box">
						<img src="assets/img/client/Deutz.png" alt="Client Logo">
					</div>
					<div class="col-auto client-box">
						<img src="assets/img/client/ebpl.png" alt="Client Logo">
					</div>
					<div class="col-auto client-box">
						<img src="assets/img/client/Peugeot.png" alt="Client Logo">
					</div>
					<div class="col-auto client-box">
						<img src="assets/img/client/renault.png" alt="Client Logo">
					</div>
					<div class="col-auto client-box">
						<img src="assets/img/client/Sarl.png" alt="Client Logo">
					</div>
					<div class="col-auto client-box">
						<img src="assets/img/client/Yanmar.png" alt="Client Logo">
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
