<h2>Nouveau message de contact</h2>

<p><strong>Nom :</strong> {{ contact.firstName }} {{ contact.lastName }}</p>
<p><strong>Email :</strong> {{ contact.email }}</p>
<p><strong>Sujet :</strong> {{ contact.subject }}</p>
<p><strong>Message :</strong></p>
<p>{{ contact.message|nl2br }}</p>