{% extends 'base.html.twig' %}

{% block title %}Project
{% endblock %}

{% block body %}
	<div class="breadcumb-wrapper" data-bg-src="assets/img/hero/vehicule.png" data-overlay="title" data-opacity="7">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="breadcumb-content">
						<h1 class="breadcumb-title">Projet</h1>
						<ul class="breadcumb-menu">
							<li>
								<a href="{{ path('app_home') }}">ACCUEIL</a>
							</li>
							<li class="active">PROJET</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="service-area-2 space">
		<div class="container">
			<div class="row gy-25">

				{% for category in categories %}
					<div class="col-lg-4 col-md-6">
						<div class="service-card style3">
							<div class="thumb">
								<img src="{{ asset(category.image) }}" alt="{{ category.name }}">
							</div>
							<div class="card-details">
								<div class="bg-shadow-icon">
									<img src="assets/img/service/service-icon-1-{% if loop.index == 2 %}4{% else %}{{ loop.index }}{% endif %}.svg" alt="icon {{ loop.index }}">
								</div>
								<div class="service-card_icon">
									<img src="assets/img/service/service-page-icon-{% if loop.index == 2 %}4{% else %}{{ loop.index }}{% endif %}.svg" alt="page icon {{ loop.index }}">
								</div>
								<h3 class="service-card_title h4">
									<a href="{{ path('app_project_by_category', {'slug': category.slug}) }}">
										{{ category.name }}
									</a>
								</h3>
								<p class="service-card_text">{{ category.description }}</p>
								<a class="line-btn" href="{{ path('app_project_by_category', {slug: category.slug}) }}">
									VOIR LA RUBRIQUE
								</a>
							</div>
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

	<div class="client-sec1 space-bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="title-area text-center">
						<h2 class="client-title h4 mb-0">
							<span class="double-line"></span>
							NOS MARQUES & PARTENAIRES
						</div>
					</div>
				</div>
				<div class="client-box-border">
					<div class="row as-carousel" id="brandSlide1" data-slide-show="5" data-lg-slide-show="4" data-md-slide-show="3" data-sm-slide-show="2" data-xs-slide-show="1" data-arrows="false">
						<div class="col-auto client-box">
							<img src="assets/img/client/bv2ii.png" alt="Client Logo">
						</div>
						<div class="col-auto client-box">
							<img src="assets/img/client/Deutz.png" alt="Client Logo">
						</div>
						<div class="col-auto client-box">
							<img src="assets/img/client/ebpl.png" alt="Client Logo">
						</div>
						<div class="col-auto client-box">
							<img src="assets/img/client/Peugeot.png" alt="Client Logo">
						</div>
						<div class="col-auto client-box">
							<img src="assets/img/client/renault.png" alt="Client Logo">
						</div>
						<div class="col-auto client-box">
							<img src="assets/img/client/Sarl.png" alt="Client Logo">
						</div>
						<div class="col-auto client-box">
							<img src="assets/img/client/Yanmar.png" alt="Client Logo">
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endblock %}
